.custom-button {
  background-color: #4084e9;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #193572;
}
