.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  scroll-behavior: smooth;
}

.review-card {
  flex-shrink: 0;
  min-width: 300px;
  max-width: 300px;
}

.home-page-review-card {
  flex-shrink: 0;
  min-width: 300px;
  max-width: 300px;
  .card{

  }
  .card-body{

  }
  .card-title{

  }
  .card-text{

  }
}
