// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab&display=swap');


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  height: 100%;
}

.layout-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h3 {
  font-size: 2rem;
  color: #c39b77;
  margin: 20px 0;
}
a {
  text-decoration: none;
  color: #c39b77;
}
h1 {
  color: #c39b77;
  margin: 20px 0;
}
