<div class="header-container">
  <h1>Vintage Car Hire</h1>
</div>

<div class="container">


  <div class="cards">
    <div class="row">
      <% @cars.each do |car| %>
        <div class="col-6">
            <div class="card-category"
              style="<%= car.image.attached? ? 'background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(' + url_for(car.image) + ')' : '' %>;">
            </div>
            <div class="card-details">
              <h1 class="card-title"><%= link_to car.brand, car_path(car) %></h1>
              <p class="card-text">Price: $<%= car.price %>/day</p>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
