<h6>Reviews:</h6>
<ul class="list-group">
  <% @car.reviews.each do |review| %>
    <li class="list-group-item">
      <strong><%= review.comment %></strong><br>
      <% review.rating.to_i.times do %>
        <i class="fas fa-star text-warning"></i>
      <% end %>
      <% (5 - review.rating.to_i).times do %>
        <i class="far fa-star text-warning"></i>
      <% end %>
    </li>
  <% end %>
</ul>
